html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
h1{
  color: white;
  text-align: center;
}

#writeAreaContainer{
  text-align: center;
  /* width: 600;
  height: 550px; */
  margin-top: 2%;
  padding: 20px;
  /* border: 1px solid #cccccc66;
  background-color: #f0f0f08a; */
  /* border-radius: 20px; */

}

#readAreaContainer{
  text-align: center;
  width: 600;
  height: 550px;
  margin-top: 10%;
  padding: 20px;
  border: 1px solid #cccccc66;
  background-color: #f0f0f08a;
  border-radius: 20px;

}

#textInputArea{
  padding: 5%;
  background-color: #cccccc66;
  border:white;
  border-radius: 20px;
  outline: none;
  color:white;
  font-size: 18px;
  font-family: 'IM Fell DW Pica', serif;
}
